
<div class="sidebar-logo">
  <a href="https://ng.ant.design/" target="_blank">
    <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
    <h1>Ant Design Of Angular</h1>
  </a>
</div>
<ul nz-menu nzTheme="dark" nzMode="inline" [nzSelectable]="false">
  <li nz-submenu nzOpen [nzTitle]="menu.name" [nzIcon]="menu.icon" *ngFor="let menu of menus">
    <ul *ngIf="menu.hasChildren">
      <li nz-menu-item nzMatchRouter *ngFor="let child of menu.children">
        <a [routerLink]="menu.path + '/' +child.path" routerLinkActive="active">{{ child.name }}</a>
      </li>
    </ul>
  </li>
</ul>
